<!-- <h1>answer!</h1> -->

<div>
  <%= @user_input %>
<p>- You</p>
</div>
<div class="banner">
<%=
  if @user_input.downcase == "i am going to work right now!"
    "Great!"
  elsif @user_input.end_with?("?")
    "Silly question, get dressed and go to work!"
  else
    "I don't care, get dressed and go to work!"
  end
%>
<p>- Your coach</p>
</div>


<%= link_to 'Ask a new question', ask_path %>
